 <!-- kids center Start -->
 <div class="container-fluid bg-primary px-0 mb-5">
    <div class="row align-items-center py-9 px-3">
      <div class="col-lg-6 text-center text-lg-left">
        <h4 class="text-white mb-4 mt-5 mt-lg-0">Kids Learning Center</h4>
        <h1 class="display-3 font-weight-bold text-white">
          Kids Are The Best Explorers In The Word
        </h1>
        <!-- <a href="" class="btn btn-secondary mt-1 py-3 px-5">Learn More</a> -->
      </div>
    </div>
  </div>
  <!-- kids center End -->