<!-- Course Start -->
<div class="card border-0 bg-light shadow-sm pb-2">
  <img class="card-img-top mb-2" [src]="courseInput.avatar" alt="" style="height: 225px;" />
  <div class="card-body text-center">
    <h4 class="card-title" style="color: rgb(235, 132, 15);">{{courseInput.courseName}}</h4>
    <p class="card-text">
      {{courseInput.description}}
    </p>
  </div>
  <div class="card-footer bg-transparent py-4 px-5">
    <div class="row border-bottom">
      <div class="col-6 py-1 text-right border-right">
        <strong>Class Time</strong>
      </div>
      <div class="col-6 py-1">{{courseInput.duration}}</div>
    </div>
    <div class="row">
      <div class="col-6 py-1 text-right border-right">
        <strong>Lesson's Price</strong>
      </div>
      <div class="col-6 py-1"><span style="color: rgb(110, 201, 19);">${{courseInput.price}}</span> / Month</div>
    </div>
  </div>
</div>
<!-- Course End -->